{%extends 'base.html'%}
{% block content %}

<div class="container">
    <br>
    <h1>상세페이지입니다</h1>
    <h2>{{blog.title}}</h2>
    <p>{{blog.pub_date}}</p>
    <p>{{blog.body}}</p>
    <a href="{% url 'home' %}">돌아가기</a>
    <form action="{% url 'edit' blog.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="수정하기">
    </form>

    <form action="{% url 'delete' blog.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제하기">
    </form>
    <hr>
    <form action = "{% url 'add_comment' blog.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-dark" value = "Add Comment"><br><br>
    </form>
    {% for comment in blog.comments.all %}
        <div class="comment">
            <div class="date">{{comment.created_date}}</div>
            <strong>{{comment.author}}</strong>
            <p>{{comment.text|linebreaks}}</p>

            <form action="{% url 'edit_comment' comment.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="수정하기">
            </form>
            
            <form action="{% url 'delete_comment' comment.id %}" method="POST">
                {% csrf_token %}
                <input type ="submit" value="삭제하기">
            </form>
        </div>
    {% empty %}
        <p>no comments here yet</p>
    {% endfor %}
<div>    
    
{%endblock%}